@model WedstrijdViewModel
@{
    ViewData["Title"] = "Index";
}
<body>

    <h1>Wedstrijden</h1>

    <table class="table">
        <tr>
            <th>
                thuisteam
            </th>
            <th>
                uitteam
            </th>
            <th>
                locatie
            </th>
            <th>Competitie</th>
            <th>
                winnaar
            </th>
        </tr>

        @foreach (var wedstrijd in @Model.Wedstrijden)
        {
    <tr>
        <td>
            @wedstrijd.Teamthuis.Naam
        </td>
        <td>
            @wedstrijd.Teamuit.Naam
        </td>
        <td>
            @wedstrijd.Locatie
        </td>
        <td>
            @wedstrijd.competitie.Naam
        </td>
        <td>
            @wedstrijd.
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { ID = wedstrijd.ID }) |
        </td>
    </tr>
        }
    </table>
</body>